In [76]:
import pandas as pd
air=pd.read_csv("Airbnb_Open_Data.csv")
air.isnull().sum()

C:\Users\chint\AppData\Local\Temp\ipykernel_8324\212699844.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  air=pd.read_csv("Airbnb_Open_Data.csv")

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [ ]:
def bubble(a,i=0,j=1):
    if(i==len(a)-1):
        return a
    elif(j==len(a)):
        return bubble(a,i+1,i+2)
    else:
        if(a[i]>a[j]):
            temp=a[i]
            a[i]=a[j]
            a[j]=temp
        return bubble(a,i,j+1)

# ID column

In [77]:
air['id'].isnull().sum()

0

In [5]:
air.duplicated().sum()

541

In [78]:
air=air[air.duplicated().apply(lambda x:False if(x) else True)]

In [79]:
air.duplicated().sum()

0

In [80]:
air['id'].duplicated().sum()

0

In [81]:
import re
air['id'].apply(lambda x:re.findall('\D+',str(x))).duplicated().sum() #every row has empty list which means no row has non-numeric id

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\chint\AppData\Local\Temp\ipykernel_8324\3357647345.py:2: SyntaxWarning: invalid escape sequence '\D'
  air['id'].apply(lambda x:re.findall('\D+',str(x))).duplicated().sum() #every row has empty list which means no row has non-numeric id

102057

# NAME Column

In [82]:
air['NAME'].duplicated().sum()

40776

In [87]:
air

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,$696,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,$909,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?
102055,57366313,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,$387,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...
102056,57366865,Room & private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,$848,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,"$1,128",NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...

In [84]:
air['NAME']=air['NAME'].str.strip()

In [85]:
air['NAME'].isnull().sum()

250

In [86]:
air.drop(['license'],axis=1,inplace=True)

In [88]:
air.drop(['host_identity_verified',
       'neighbourhood group',
       'review rate number', 'calculated host listings count','house_rules'],axis=1,inplace=True) #Removing unwanted columns

In [89]:
air

,id,NAME,host id,host name,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,228.0
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,Elise,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,352.0
3,1002755,NaN,85098326012,Garry,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,322.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,289.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,Mariam,Flatbush,40.64945,-73.96108,United States,US,True,moderate,Private room,NaN,$696,NaN,7.0,12.0,3/27/2019,0.44,0.0
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,Trey,Bushwick,40.69872,-73.92718,United States,US,False,flexible,Private room,NaN,$909,NaN,1.0,19.0,8/31/2017,0.72,0.0
102055,57366313,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,Michael,Bedford-Stuyvesant,40.67810,-73.90822,United States,US,True,moderate,Entire home/apt,NaN,$387,NaN,2.0,50.0,6/26/2019,3.12,235.0
102056,57366865,Room & private bathroom in historic Harlem,15593031571,Shireen,Harlem,40.81248,-73.94317,United States,US,True,strict,Private room,NaN,$848,NaN,2.0,0.0,NaN,NaN,0.0
102057,57367417,Rosalee Stewart,93578954226,Stanley,Harlem,40.81315,-73.94747,United States,US,False,flexible,Entire home/apt,2011.0,"$1,128",NaN,4.0,22.0,6/15/2019,0.85,238.0

In [93]:
air.dropna(inplace=True) #removing all missing values

In [95]:
air.isnull().sum()

id                     0
NAME                   0
host id                0
host name              0
neighbourhood          0
lat                    0
long                   0
country                0
country code           0
instant_bookable       0
cancellation_policy    0
room type              0
Construction year      0
price                  0
service fee            0
minimum nights         0
number of reviews      0
last review            0
reviews per month      0
availability 365       0
dtype: int64

# Host id Column

In [98]:
air['host id'].duplicated().sum()

0

In [99]:
air['host id'].isnull().sum()

0

In [100]:
air.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84063 entries, 0 to 102040
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   84063 non-null  int64
 1   NAME                 84063 non-null  object
 2   host id              84063 non-null  int64
 3   host name            84063 non-null  object
 4   neighbourhood        84063 non-null  object
 5   lat                  84063 non-null  float64
 6   long                 84063 non-null  float64
 7   country              84063 non-null  object
 8   country code         84063 non-null  object
 9   instant_bookable     84063 non-null  object
 10  cancellation_policy  84063 non-null  object
 11  room type            84063 non-null  object
 12  Construction year    84063 non-null  float64
 13  price                84063 non-null  object
 14  service fee          84063 non-null  object
 15  minimum nights       84063 non-null  float64
 16  number of reviews    84063 non-null  float64
 17  last review          84063 non-null  object
 18  reviews per month    84063 non-null  float64
 19  availability 365     84063 non-null  float64
dtypes: float64(7), int64(2), object(11)
memory usage: 13.5+ MB

In [104]:
def nonnum(hos):
    return re.findall('\D+',str(hos))
air['host id'].apply(nonnum).duplicated().sum() #no non numeric values

<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\chint\AppData\Local\Temp\ipykernel_8324\1153063926.py:2: SyntaxWarning: invalid escape sequence '\D'
  return re.findall('\D+',str(hos))

84062

# Host name Column

In [106]:
air['host name'].isnull().sum()

0

In [149]:
def alo(hos):
    a=re.findall('\W+\B',hos)
    if(len(a)==0):
        return True
    else:
        return False
v=air['host name'].apply(alo)

<>:2: SyntaxWarning: invalid escape sequence '\W'
<>:2: SyntaxWarning: invalid escape sequence '\W'
C:\Users\chint\AppData\Local\Temp\ipykernel_8324\3767441387.py:2: SyntaxWarning: invalid escape sequence '\W'
  a=re.findall('\W+\B',hos)

In [152]:
air['host name']=air[v]['host name']

In [153]:
air['host name'].isnull().sum()

3141

In [154]:
air.dropna(inplace=True)

In [155]:
air

,id,NAME,host id,host name,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,228.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,289.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,Murray Hill,40.74767,-73.97500,United States,US,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,6/22/2019,0.59,374.0
6,1004650,BlissArtsSpace!,61300605564,Alberta,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private room,2015.0,$71,$14,45.0,49.0,10/5/2017,0.40,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,Cristina,Astoria,40.76987,-73.92679,United States,US,False,flexible,Private room,2018.0,$822,$164,1.0,9.0,4/25/2019,0.91,0.0
102030,57352505,An East Williamsburg Delight,71564706996,Petra,Bedford-Stuyvesant,40.68335,-73.91222,United States,US,True,moderate,Private room,2015.0,$455,$91,4.0,36.0,6/27/2018,1.28,0.0
102031,57353057,Cozy bedroom in williamsburg,83101851929,Russell,Williamsburg,40.70870,-73.96710,United States,US,True,flexible,Private room,2020.0,"$1,078",$216,1.0,58.0,6/10/2019,2.08,120.0
102032,57353610,Spacious Room w/ 2 Bed,69037598918,Christine,Bayside,40.75047,-73.75349,United States,US,False,moderate,Private room,2007.0,$103,$21,7.0,40.0,6/23/2019,1.51,148.0
102040,57358028,"Room in Queens, NY, near LGA.",56457739998,Sonia,East Elmhurst,40.76245,-73.87938,United States,US,True,strict,Private room,2022.0,$982,$196,1.0,239.0,6/29/2019,8.58,361.0

In [156]:
air['host name'].isnull().sum()

0

# Neighbourhood Column

In [164]:
air['neighbourhood'].isnull().sum()

0

In [170]:
air['neighbourhood']=air['neighbourhood'].str.capitalize()

In [217]:
air

,id,NAME,host id,host name,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,228.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,East harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,289.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,Murray hill,40.74767,-73.97500,United States,US,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,6/22/2019,0.59,374.0
6,1004650,BlissArtsSpace!,61300605564,Alberta,Bedford-stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private room,2015.0,$71,$14,45.0,49.0,10/5/2017,0.40,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,Cristina,Astoria,40.76987,-73.92679,United States,US,False,flexible,Private room,2018.0,$822,$164,1.0,9.0,4/25/2019,0.91,0.0
102030,57352505,An East Williamsburg Delight,71564706996,Petra,Bedford-stuyvesant,40.68335,-73.91222,United States,US,True,moderate,Private room,2015.0,$455,$91,4.0,36.0,6/27/2018,1.28,0.0
102031,57353057,Cozy bedroom in williamsburg,83101851929,Russell,Williamsburg,40.70870,-73.96710,United States,US,True,flexible,Private room,2020.0,"$1,078",$216,1.0,58.0,6/10/2019,2.08,120.0
102032,57353610,Spacious Room w/ 2 Bed,69037598918,Christine,Bayside,40.75047,-73.75349,United States,US,False,moderate,Private room,2007.0,$103,$21,7.0,40.0,6/23/2019,1.51,148.0
102040,57358028,"Room in Queens, NY, near LGA.",56457739998,Sonia,East elmhurst,40.76245,-73.87938,United States,US,True,strict,Private room,2022.0,$982,$196,1.0,239.0,6/29/2019,8.58,361.0

# lat and long Columns

In [192]:
l=air['long']>=-180
l1=air['long']<=180
air[l&l1]

,id,NAME,host id,host name,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,228.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,East harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,289.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,Murray hill,40.74767,-73.97500,United States,US,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,6/22/2019,0.59,374.0
6,1004650,BlissArtsSpace!,61300605564,Alberta,Bedford-stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private room,2015.0,$71,$14,45.0,49.0,10/5/2017,0.40,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,Cristina,Astoria,40.76987,-73.92679,United States,US,False,flexible,Private room,2018.0,$822,$164,1.0,9.0,4/25/2019,0.91,0.0
102030,57352505,An East Williamsburg Delight,71564706996,Petra,Bedford-stuyvesant,40.68335,-73.91222,United States,US,True,moderate,Private room,2015.0,$455,$91,4.0,36.0,6/27/2018,1.28,0.0
102031,57353057,Cozy bedroom in williamsburg,83101851929,Russell,Williamsburg,40.70870,-73.96710,United States,US,True,flexible,Private room,2020.0,"$1,078",$216,1.0,58.0,6/10/2019,2.08,120.0
102032,57353610,Spacious Room w/ 2 Bed,69037598918,Christine,Bayside,40.75047,-73.75349,United States,US,False,moderate,Private room,2007.0,$103,$21,7.0,40.0,6/23/2019,1.51,148.0
102040,57358028,"Room in Queens, NY, near LGA.",56457739998,Sonia,East elmhurst,40.76245,-73.87938,United States,US,True,strict,Private room,2022.0,$982,$196,1.0,239.0,6/29/2019,8.58,361.0

In [193]:
l2=air['lat']>=-90
l3=air['lat']<=90
air[l2&l3]

,id,NAME,host id,host name,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,228.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,East harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,289.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,Murray hill,40.74767,-73.97500,United States,US,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0,6/22/2019,0.59,374.0
6,1004650,BlissArtsSpace!,61300605564,Alberta,Bedford-stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private room,2015.0,$71,$14,45.0,49.0,10/5/2017,0.40,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,Cristina,Astoria,40.76987,-73.92679,United States,US,False,flexible,Private room,2018.0,$822,$164,1.0,9.0,4/25/2019,0.91,0.0
102030,57352505,An East Williamsburg Delight,71564706996,Petra,Bedford-stuyvesant,40.68335,-73.91222,United States,US,True,moderate,Private room,2015.0,$455,$91,4.0,36.0,6/27/2018,1.28,0.0
102031,57353057,Cozy bedroom in williamsburg,83101851929,Russell,Williamsburg,40.70870,-73.96710,United States,US,True,flexible,Private room,2020.0,"$1,078",$216,1.0,58.0,6/10/2019,2.08,120.0
102032,57353610,Spacious Room w/ 2 Bed,69037598918,Christine,Bayside,40.75047,-73.75349,United States,US,False,moderate,Private room,2007.0,$103,$21,7.0,40.0,6/23/2019,1.51,148.0
102040,57358028,"Room in Queens, NY, near LGA.",56457739998,Sonia,East elmhurst,40.76245,-73.87938,United States,US,True,strict,Private room,2022.0,$982,$196,1.0,239.0,6/29/2019,8.58,361.0

# country,country code,instant_bookable,cancellation_policy Columns

In [197]:
air['country'].isnull().sum()

0

In [200]:
air['country code'].isnull().sum()

0

In [203]:
air['instant_bookable'].isnull().sum()

0

In [204]:
air['instant_bookable'].unique()

array([False, True], dtype=object)

In [206]:
air['cancellation_policy'].isnull().sum()

0

In [207]:
air['cancellation_policy'].unique()

array(['strict', 'moderate', 'flexible'], dtype=object)

# room_type

In [210]:
air['room type'].isnull().sum()

0

In [211]:
air['room type'].unique()

array(['Private room', 'Entire home/apt', 'Shared room', 'Hotel room'],
      dtype=object)

In [219]:
air['room type']=air['room type'].str.lower().str.title()

In [220]:
air

,id,NAME,host id,host name,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,Kensington,40.64749,-73.97237,United States,US,False,strict,Private Room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire Home/Apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,228.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,East harlem,40.79851,-73.94399,United States,US,False,moderate,Entire Home/Apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,289.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,Murray hill,40.74767,-73.97500,United States,US,True,flexible,Entire Home/Apt,2013.0,$577,$115,3.0,74.0,6/22/2019,0.59,374.0
6,1004650,BlissArtsSpace!,61300605564,Alberta,Bedford-stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private Room,2015.0,$71,$14,45.0,49.0,10/5/2017,0.40,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,Cristina,Astoria,40.76987,-73.92679,United States,US,False,flexible,Private Room,2018.0,$822,$164,1.0,9.0,4/25/2019,0.91,0.0
102030,57352505,An East Williamsburg Delight,71564706996,Petra,Bedford-stuyvesant,40.68335,-73.91222,United States,US,True,moderate,Private Room,2015.0,$455,$91,4.0,36.0,6/27/2018,1.28,0.0
102031,57353057,Cozy bedroom in williamsburg,83101851929,Russell,Williamsburg,40.70870,-73.96710,United States,US,True,flexible,Private Room,2020.0,"$1,078",$216,1.0,58.0,6/10/2019,2.08,120.0
102032,57353610,Spacious Room w/ 2 Bed,69037598918,Christine,Bayside,40.75047,-73.75349,United States,US,False,moderate,Private Room,2007.0,$103,$21,7.0,40.0,6/23/2019,1.51,148.0
102040,57358028,"Room in Queens, NY, near LGA.",56457739998,Sonia,East elmhurst,40.76245,-73.87938,United States,US,True,strict,Private Room,2022.0,$982,$196,1.0,239.0,6/29/2019,8.58,361.0

# Construction year Column

In [225]:
air['Construction year'].isnull().sum()

0

In [227]:
air['Construction year']=air['Construction year'].astype(int)

In [228]:
air['Construction year'].unique()

array([2020, 2007, 2009, 2013, 2015, 2005, 2004, 2008, 2010, 2019, 2016,
       2003, 2012, 2017, 2006, 2011, 2014, 2021, 2018, 2022])

# Price Column

In [230]:
air['price'].isnull().sum()

0

In [233]:
air['price']=air['price'].str.replace('$','')

In [234]:
air['price']=air['price'].str.replace(' ','')

In [238]:
air['price']=air['price'].str.replace(',','')

In [240]:
air['price'].str.isnumeric().sum()

80922

In [243]:
air['price']=air['price'].astype(int)

In [244]:
air.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80922 entries, 0 to 102040
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   80922 non-null  int64
 1   NAME                 80922 non-null  object
 2   host id              80922 non-null  int64
 3   host name            80922 non-null  object
 4   neighbourhood        80922 non-null  object
 5   lat                  80922 non-null  float64
 6   long                 80922 non-null  float64
 7   country              80922 non-null  object
 8   country code         80922 non-null  object
 9   instant_bookable     80922 non-null  object
 10  cancellation_policy  80922 non-null  object
 11  room type            80922 non-null  object
 12  Construction year    80922 non-null  int32
 13  price                80922 non-null  int32
 14  service fee          80922 non-null  object
 15  minimum nights       80922 non-null  float64
 16  number of reviews    80922 non-null  float64
 17  last review          80922 non-null  object
 18  reviews per month    80922 non-null  float64
 19  availability 365     80922 non-null  float64
dtypes: float64(6), int32(2), int64(2), object(10)
memory usage: 12.3+ MB

# service fee Column

In [246]:
air['service fee'].isnull().sum()

0

In [247]:
air['service fee'].unique()

array(['$193 ', '$28 ', '$41 ', '$115 ', '$14 ', '$212 ', '$204 ', '$58 ',
       '$64 ', '$121 ', '$116 ', '$30 ', '$38 ', '$222 ', '$219 ',
       '$202 ', '$113 ', '$74 ', '$137 ', '$171 ', '$12 ', '$72 ',
       '$118 ', '$168 ', '$106 ', '$13 ', '$152 ', '$126 ', '$135 ',
       '$46 ', '$199 ', '$158 ', '$221 ', '$132 ', '$114 ', '$147 ',
       '$189 ', '$90 ', '$186 ', '$66 ', '$225 ', '$19 ', '$227 ', '$32 ',
       '$101 ', '$23 ', '$203 ', '$97 ', '$35 ', '$37 ', '$77 ', '$231 ',
       '$133 ', '$82 ', '$120 ', '$21 ', '$145 ', '$65 ', '$108 ', '$50 ',
       '$89 ', '$218 ', '$104 ', '$79 ', '$163 ', '$22 ', '$182 ',
       '$165 ', '$17 ', '$48 ', '$11 ', '$131 ', '$102 ', '$240 ',
       '$119 ', '$215 ', '$191 ', '$16 ', '$94 ', '$233 ', '$170 ',
       '$201 ', '$194 ', '$129 ', '$192 ', '$109 ', '$105 ', '$123 ',
       '$36 ', '$180 ', '$238 ', '$157 ', '$198 ', '$206 ', '$122 ',
       '$216 ', '$208 ', '$140 ', '$10 ', '$134 ', '$20 ', '$110 ',
       '$88 ', '$98 ', '$234 ', '$151 ', '$172 ', '$107 ', '$138 ',
       '$139 ', '$217 ', '$117 ', '$31 ', '$26 ', '$156 ', '$124 ',
       '$175 ', '$162 ', '$187 ', '$93 ', '$51 ', '$239 ', '$184 ',
       '$161 ', '$149 ', '$181 ', '$200 ', '$144 ', '$33 ', '$45 ',
       '$209 ', '$55 ', '$85 ', '$87 ', '$73 ', '$63 ', '$228 ', '$128 ',
       '$210 ', '$211 ', '$18 ', '$167 ', '$236 ', '$185 ', '$83 ',
       '$69 ', '$111 ', '$183 ', '$142 ', '$100 ', '$223 ', '$71 ',
       '$136 ', '$95 ', '$29 ', '$24 ', '$49 ', '$39 ', '$232 ', '$205 ',
       '$213 ', '$27 ', '$92 ', '$86 ', '$197 ', '$164 ', '$52 ', '$229 ',
       '$127 ', '$176 ', '$169 ', '$148 ', '$59 ', '$68 ', '$99 ', '$56 ',
       '$196 ', '$179 ', '$84 ', '$237 ', '$178 ', '$125 ', '$103 ',
       '$91 ', '$25 ', '$224 ', '$43 ', '$130 ', '$47 ', '$15 ', '$141 ',
       '$67 ', '$166 ', '$153 ', '$195 ', '$40 ', '$155 ', '$70 ', '$57 ',
       '$177 ', '$226 ', '$160 ', '$75 ', '$190 ', '$173 ', '$81 ',
       '$61 ', '$60 ', '$235 ', '$154 ', '$96 ', '$80 ', '$54 ', '$214 ',
       '$34 ', '$150 ', '$78 ', '$220 ', '$230 ', '$188 ', '$42 ', '$76 ',
       '$159 ', '$112 ', '$207 ', '$44 ', '$143 ', '$146 ', '$174 ',
       '$53 ', '$62 '], dtype=object)

In [248]:
air['service fee']=air['service fee'].str.replace('$','')

In [249]:
air['service fee']=air['service fee'].str.replace(' ','')

In [251]:
air['service fee']=air['service fee'].astype(int)

In [253]:
air.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80922 entries, 0 to 102040
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   80922 non-null  int64
 1   NAME                 80922 non-null  object
 2   host id              80922 non-null  int64
 3   host name            80922 non-null  object
 4   neighbourhood        80922 non-null  object
 5   lat                  80922 non-null  float64
 6   long                 80922 non-null  float64
 7   country              80922 non-null  object
 8   country code         80922 non-null  object
 9   instant_bookable     80922 non-null  object
 10  cancellation_policy  80922 non-null  object
 11  room type            80922 non-null  object
 12  Construction year    80922 non-null  int32
 13  price                80922 non-null  int32
 14  service fee          80922 non-null  int32
 15  minimum nights       80922 non-null  float64
 16  number of reviews    80922 non-null  float64
 17  last review          80922 non-null  object
 18  reviews per month    80922 non-null  float64
 19  availability 365     80922 non-null  float64
dtypes: float64(6), int32(3), int64(2), object(9)
memory usage: 12.0+ MB

# minimum nights Column

In [264]:
air['minimum nights']=air[air['minimum nights']>=0]['minimum nights']

In [265]:
air['minimum nights'].isnull().sum()

9

In [268]:
air.dropna(inplace=True)

In [269]:
air['minimum nights'].isnull().sum()

0

In [279]:
air['minimum nights']=air['minimum nights'].astype(int)

In [282]:
air

,id,NAME,host id,host name,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,Kensington,40.64749,-73.97237,United States,US,False,strict,Private Room,2020,966,193,10,9.0,10/19/2021,0.21,286.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire Home/Apt,2007,142,28,30,45.0,5/21/2022,0.38,228.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,East harlem,40.79851,-73.94399,United States,US,False,moderate,Entire Home/Apt,2009,204,41,10,9.0,11/19/2018,0.10,289.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,Murray hill,40.74767,-73.97500,United States,US,True,flexible,Entire Home/Apt,2013,577,115,3,74.0,6/22/2019,0.59,374.0
6,1004650,BlissArtsSpace!,61300605564,Alberta,Bedford-stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private Room,2015,71,14,45,49.0,10/5/2017,0.40,224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,Cristina,Astoria,40.76987,-73.92679,United States,US,False,flexible,Private Room,2018,822,164,1,9.0,4/25/2019,0.91,0.0
102030,57352505,An East Williamsburg Delight,71564706996,Petra,Bedford-stuyvesant,40.68335,-73.91222,United States,US,True,moderate,Private Room,2015,455,91,4,36.0,6/27/2018,1.28,0.0
102031,57353057,Cozy bedroom in williamsburg,83101851929,Russell,Williamsburg,40.70870,-73.96710,United States,US,True,flexible,Private Room,2020,1078,216,1,58.0,6/10/2019,2.08,120.0
102032,57353610,Spacious Room w/ 2 Bed,69037598918,Christine,Bayside,40.75047,-73.75349,United States,US,False,moderate,Private Room,2007,103,21,7,40.0,6/23/2019,1.51,148.0
102040,57358028,"Room in Queens, NY, near LGA.",56457739998,Sonia,East elmhurst,40.76245,-73.87938,United States,US,True,strict,Private Room,2022,982,196,1,239.0,6/29/2019,8.58,361.0

# number of reviews

In [283]:
air[air['number of reviews']<0]

Empty DataFrame
Columns: [id, NAME, host id, host name, neighbourhood, lat, long, country, country code, instant_bookable, cancellation_policy, room type, Construction year, price, service fee, minimum nights, number of reviews, last review, reviews per month, availability 365]
Index: []

In [284]:
air['number of reviews'].isnull().sum()

0

In [287]:
air['number of reviews']=air['number of reviews'].astype(int)

# last review

In [290]:
air['last review']=pd.to_datetime(air['last review'])

In [291]:
air['last review'].isnull().sum()

0

In [293]:
air['last review'].unique()

<DatetimeArray>
['2021-10-19 00:00:00', '2022-05-21 00:00:00', '2018-11-19 00:00:00',
 '2019-06-22 00:00:00', '2017-10-05 00:00:00', '2019-06-24 00:00:00',
 '2017-07-21 00:00:00', '2019-06-09 00:00:00', '2019-07-05 00:00:00',
 '2019-05-12 00:00:00',
 ...
 '2020-03-02 00:00:00', '2020-03-01 00:00:00', '2020-02-29 00:00:00',
 '2020-02-28 00:00:00', '2020-02-27 00:00:00', '2020-02-26 00:00:00',
 '2020-02-25 00:00:00', '2020-02-24 00:00:00', '2015-09-20 00:00:00',
 '2014-04-15 00:00:00']
Length: 2430, dtype: datetime64[ns]

# availabiliy_365

In [301]:
a=air['availability 365']>=0
b=air['availability 365']<=365
air['availability 365']=air[a&b]['availability 365']

In [302]:
air['availability 365'].isnull().sum()

2425

In [305]:
air.dropna(inplace=True)

In [306]:
air['availability 365'].isnull().sum()

0

In [311]:
air['availability 365']=air['availability 365'].astype(int)

In [312]:
air.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78488 entries, 0 to 102040
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   78488 non-null  int64
 1   NAME                 78488 non-null  object
 2   host id              78488 non-null  int64
 3   host name            78488 non-null  object
 4   neighbourhood        78488 non-null  object
 5   lat                  78488 non-null  float64
 6   long                 78488 non-null  float64
 7   country              78488 non-null  object
 8   country code         78488 non-null  object
 9   instant_bookable     78488 non-null  object
 10  cancellation_policy  78488 non-null  object
 11  room type            78488 non-null  object
 12  Construction year    78488 non-null  int32
 13  price                78488 non-null  int32
 14  service fee          78488 non-null  int32
 15  minimum nights       78488 non-null  int32
 16  number of reviews    78488 non-null  int32
 17  last review          78488 non-null  datetime64[ns]
 18  reviews per month    78488 non-null  float64
 19  availability 365     78488 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(6), int64(2), object(8)
memory usage: 10.8+ MB

# reviews per month column

In [314]:
air['reviews per month'].isnull().sum()

0

In [316]:
air[air['reviews per month']<0]

Empty DataFrame
Columns: [id, NAME, host id, host name, neighbourhood, lat, long, country, country code, instant_bookable, cancellation_policy, room type, Construction year, price, service fee, minimum nights, number of reviews, last review, reviews per month, availability 365]
Index: []

In [318]:
air

,id,NAME,host id,host name,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,availability 365
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,Kensington,40.64749,-73.97237,United States,US,False,strict,Private Room,2020,966,193,10,9,2021-10-19,0.21,286
1,1002102,Skylit Midtown Castle,52335172823,Jenna,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire Home/Apt,2007,142,28,30,45,2022-05-21,0.38,228
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,East harlem,40.79851,-73.94399,United States,US,False,moderate,Entire Home/Apt,2009,204,41,10,9,2018-11-19,0.10,289
6,1004650,BlissArtsSpace!,61300605564,Alberta,Bedford-stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private Room,2015,71,14,45,49,2017-10-05,0.40,224
7,1005202,BlissArtsSpace!,90821839709,Emma,Bedford-stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private Room,2009,1060,212,45,49,2017-10-05,0.40,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,57351953,Cozy room in a 2B with backyard access,5155155913,Cristina,Astoria,40.76987,-73.92679,United States,US,False,flexible,Private Room,2018,822,164,1,9,2019-04-25,0.91,0
102030,57352505,An East Williamsburg Delight,71564706996,Petra,Bedford-stuyvesant,40.68335,-73.91222,United States,US,True,moderate,Private Room,2015,455,91,4,36,2018-06-27,1.28,0
102031,57353057,Cozy bedroom in williamsburg,83101851929,Russell,Williamsburg,40.70870,-73.96710,United States,US,True,flexible,Private Room,2020,1078,216,1,58,2019-06-10,2.08,120
102032,57353610,Spacious Room w/ 2 Bed,69037598918,Christine,Bayside,40.75047,-73.75349,United States,US,False,moderate,Private Room,2007,103,21,7,40,2019-06-23,1.51,148
102040,57358028,"Room in Queens, NY, near LGA.",56457739998,Sonia,East elmhurst,40.76245,-73.87938,United States,US,True,strict,Private Room,2022,982,196,1,239,2019-06-29,8.58,361

In [319]:
air.to_csv('Airbnb.csv')